<h2>Load document</h2>
<div class="loaders">
  <dx-button type="default" text="Empty document" (onClick)="loadEmptyDocument()"></dx-button>
  <dx-button type="default" text="Small document" (onClick)="loadDocumentById(1)"></dx-button>
  <dx-button type="default" text="Large document" (onClick)="loadDocumentById(2)"></dx-button>
</div>

<h2>Document editor</h2>
<ng-container *ngIf="formState$ | async as formState">
  <div id="document-editor">
    <dx-text-box label="Document nr." [ngrxFormControlState]="formState.controls.documentNumber"></dx-text-box>

    <h3>Items editor</h3>

    <div class="items-header">
      <dx-select-box label="Items editor variant"
                     [(value)]="currentItemsEditorVariant"
                     [items]="itemsEditorVariants"
                     [hoverStateEnabled]="true"
                     displayExpr="text"
                     valueExpr="value"
                     [width]="300">
      </dx-select-box>

      <div class="recalc-indicator">
        <dx-load-indicator [visible]="recalculationInProgress$ | async"></dx-load-indicator>
      </div>
    </div>

    <div class="items-editor-container">
      <app-simple-items *ngIf="currentItemsEditorVariant === 'simple'"
                        [formState]="formState.controls.items">
      </app-simple-items>

      <app-data-grid-items *ngIf="currentItemsEditorVariant === 'dx-cell'"
                           [formState]="formState.controls.items">
      </app-data-grid-items>

      <app-data-grid-form-items *ngIf="currentItemsEditorVariant === 'dx-form'"
                                [formState]="formState.controls.items">
      </app-data-grid-form-items>
    </div>

    <div class="document-footer">
      <dx-text-box label="Final document text" [ngrxFormControlState]="formState.controls.finalDocumentText"></dx-text-box>
    </div>
  </div>

  <h2>NgRx Form state</h2>
  <pre>{{ formState.value | json }}</pre>
</ng-container>

<dx-load-panel [visible]="loadInProgress$ | async"
               shadingColor="rgba(0,0,0,0.4)"
               [position]="{ of: '#document-editor' }">
</dx-load-panel>
