<h3>Load document</h3>
<div class="loaders">
  <dx-button type="default" text="Empty document" (onClick)="loadEmptyDocument()"></dx-button>
  <dx-button type="default" text="Document 1" (onClick)="loadDocumentById(1)"></dx-button>
</div>

<h3>Document editor</h3>
<ng-container *ngIf="formState$ | async as formState">
  <div>

  </div>

  <div id="document-editor">
    <dx-text-box label="Document nr." [ngrxFormControlState]="formState.controls.documentNumber"></dx-text-box>

    <div class="recalc-indicator">
      <dx-load-indicator [visible]="recalculationInProgress$ | async"></dx-load-indicator>
    </div>

    <app-simple-items [formState]="formState.controls.items"></app-simple-items>
  </div>

  <h3>NgRx Form state</h3>
  <pre>{{ formState.value | json }}</pre>
</ng-container>

<dx-load-panel [visible]="loadInProgress$ | async"
               shadingColor="rgba(0,0,0,0.4)"
               [position]="{ of: '#document-editor' }">
</dx-load-panel>
