.loaders > dx-button {
  margin-right: 10px;
  width: 150px;
}

#document-editor {
  border: 3px solid grey;
  padding: 20px;
}

pre {
  color: royalblue;
}

.items-editor-container {
  margin-top: 20px;
}

.items-header {
  display: flex;
  justify-content: space-between;
}

.document-footer {
  margin-top: 30px;
}
