<dx-data-grid [dataSource]="gridItems"
              keyExpr="__storeIndex"
              (onInitialized)="onInitialized($event)"
              (focusedRowKeyChange)="onFocusedRowKeyChange($event)"
              (onCellDblClick)="onCellDblClick($event)"
              (onKeyDown)="onKeyDown($event)"
              [repaintChangesOnly]="true"
              [hoverStateEnabled]="false"
              [focusedRowEnabled]="true"
              [showBorders]="true">

  <dxo-paging [pageSize]="10"></dxo-paging>

  <dxi-column dataField="ordinal" width="50" caption="#"></dxi-column>
  <dxi-column dataField="name" width="150" caption="Name"></dxi-column>
  <dxi-column dataField="price" width="150" caption="Unit price" format="#,##0.00####" dataType="number"></dxi-column>
  <dxi-column dataField="amount" width="150" caption="Amount" format="#,##0.00####" dataType="number"></dxi-column>
  <dxi-column dataField="totalPrice" width="150" caption="Total price" format="#,##0.00####" dataType="number"></dxi-column>
  <dxi-column dataField="description" caption="Description"></dxi-column>
</dx-data-grid>


  <dx-popup *ngIf="focusedRowState$ | async as focusedRowState"
            [(visible)]="editorVisible"
            (onShown)="onEditorShown($event)"
            (onHidden)="onEditorHidden()"
            height="auto"
            width="500"
            position="center"
            [hideOnOutsideClick]="true">
    <h3>Item editor</h3>
    <dx-number-box label="Item no." [ngrxFormControlState]="focusedRowState.controls.ordinal" [readOnly]="true"></dx-number-box>
    <dx-text-box label="Name" [ngrxFormControlState]="focusedRowState.controls.name"></dx-text-box>
    <dx-number-box label="Unit price" [ngrxFormControlState]="focusedRowState.controls.price"></dx-number-box>
    <dx-number-box label="Amount" [ngrxFormControlState]="focusedRowState.controls.amount"></dx-number-box>
    <dx-number-box label="TotalPrice" [ngrxFormControlState]="focusedRowState.controls.totalPrice"></dx-number-box>
    <dx-text-box label="Description" [ngrxFormControlState]="focusedRowState.controls.description"></dx-text-box>

  </dx-popup>


