<dx-data-grid [dataSource]="gridItems"
              keyExpr="__storeIndex"
              [repaintChangesOnly]="true"
              [hoverStateEnabled]="false"
              [focusedRowEnabled]="true"
              (onRowUpdating)="rowUpdating($event)"
              (onEditorPrepared)="editorPrepared($event)"
              [showBorders]="true">

  <dxo-editing mode="cell"
               [allowUpdating]="true"
               [allowDeleting]="false"
               [allowAdding]="false"
               [selectTextOnEditStart]="true"
               [useIcons]="true"
  ></dxo-editing>

  <dxo-paging [enabled]="false"></dxo-paging>

  <dxi-column dataField="ordinal" width="50" caption="#" [allowEditing]="false"></dxi-column>
  <dxi-column dataField="name" width="150" caption="Name"></dxi-column>
  <dxi-column dataField="price" width="150" caption="Unit price" format="#,##0.00####" dataType="number"></dxi-column>
  <dxi-column dataField="amount" width="150" caption="Amount" format="#,##0.00####" dataType="number"></dxi-column>
  <dxi-column dataField="totalPrice" width="150" caption="Total price" format="#,##0.00####" dataType="number"></dxi-column>
  <dxi-column dataField="description" caption="Description"></dxi-column>

</dx-data-grid>
